
div.blockinfo div[data-v-26526d24] {
  display: none;
  position: absolute;
  top: 0;
  margin-top: calc(var(--spacing-4) * -1);
	margin-left: var(--spacing-2);
  font-size: var(--text-xs);
  height: calc(var(--toolbar-size) - 8px);
  padding: 0 var(--spacing-2) 0 var(--spacing-1);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-xl);
  font-weight: var(--font-thin);
  align-items: center;
  z-index: var(--z-toolbar);
	color: white;
	background-color: var(--color-blue-600);
svg[data-v-26526d24] {
    display: block;
    height: var(--text-md);
		fill: #c4dff9
}
}

div.pwtext[data-v-fa3feda4] {
  font-size: var(--text-sm);
	color: var(--pw-color-text, inherit);
&[data-align="left"][data-v-fa3feda4] { text-align: left;
}
&[data-align="center"][data-v-fa3feda4] { text-align: center;
}
&[data-align="right"][data-v-fa3feda4] { text-align: right;
}
[data-v-fa3feda4] h1 {
		font-size: var(--text-2xl);
		font-weight: var(--font-normal);
		margin-bottom: var(--spacing-3);
}
[data-v-fa3feda4] h2 {
		font-size: var(--text-xl);
		font-weight: var(--font-semi);
		margin-bottom: var(--spacing-3);
}
[data-v-fa3feda4] h3 {
		font-size: var(--text-lg);
		font-weight: var(--font-bold);
		margin-bottom: var(--spacing-3);
}
[data-v-fa3feda4] h4 {
		font-size: var(--text-md);
		font-weight: var(--font-bold);
		margin-bottom: var(--spacing-3);
}
[data-v-fa3feda4] p {
		line-height: var(--text-line-height);
}
[data-v-fa3feda4] ul {
		list-style-type: disc;
		padding: var(--spacing-2) var(--spacing-6) var(--spacing-4);
}
[data-v-fa3feda4] ol {
		list-style-type: decimal;
		padding: var(--spacing-2) var(--spacing-6) var(--spacing-4);
}
[data-v-fa3feda4] li {
		line-height: var(--text-line-height);
}
[data-v-fa3feda4] a {
		color: var(--pw-color-link, #0070f3);
		text-decoration: underline;
}
}

div.pwquote[data-v-90325663] {
div.quote[data-v-90325663],
	div.author[data-v-90325663] {
&[data-align="left"][data-v-90325663] {
			text-align: left;
}
&[data-align="center"][data-v-90325663] {
			text-align: center;
}
&[data-align="right"][data-v-90325663] {
			text-align: right;
}
}
div.quote[data-v-90325663] {
		font-size: var(--text-3xl);
		line-height: var(--text-line-height);
		color: var(--pw-color-quote, inherit);
}
div.author[data-v-90325663] {
		margin: var(--spacing-2) 0;
		font-style: italic;
		color: var(--pw-color-cite, inherit);
}
}

div.wrap[data-v-3063e108] {
&[data-align="left"] div.image[data-v-3063e108],
	&[data-align="left"] div.controls[data-v-3063e108] {
		justify-content: flex-start;
}
&[data-align="center"] div.image[data-v-3063e108],
	&[data-align="center"] div.controls[data-v-3063e108] {
		justify-content: center;
}
&[data-align="right"] div.image[data-v-3063e108],
	&[data-align="right"] div.controls[data-v-3063e108] {
		justify-content: flex-end;
}
}
div.image[data-v-3063e108], div.controls[data-v-3063e108] {
	display: block;
	width: 100%;
div.pattern[data-v-3063e108] {
		background: var(--pattern);
}
figure[data-v-3063e108] {
		position: relative;
img + div[data-v-3063e108] {
			position: absolute;
			right: -99999px;
			bottom: 0;
}
&.zoom img + div[data-v-3063e108] {
			display: block;
			bottom: 0;
			right: 0;
			z-index: 999;
			background-color: black;
			opacity: 0.7;
			padding: var(--spacing-1);
svg[data-v-3063e108] {
				fill: white;
}
}
}
}
.dots[data-v-3063e108] {
  margin: var(--spacing-2) 0 0;
  text-align: center;
}
.dot[data-v-3063e108] {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  border-radius: 50%;
  background: var(--color-text-dimmed);
}
@media (min-width: 640px) {
div.image[data-v-3063e108], div.controls[data-v-3063e108] {
		display: flex;
}
.xsmall[data-v-3063e108] { width: 100%;max-width: 25%;}
.small[data-v-3063e108] { width: 100%;max-width: 33%;}
.medium[data-v-3063e108] { width: 100%;max-width: 50%;}
.large[data-v-3063e108] { width: 100%;max-width: 75%;}
.fullscreen[data-v-3063e108] { width: 100%;max-width: 100%;}
}


div.video[data-v-301ff5b5] {
	display: block;
	width: 100%;
&[data-align="left"][data-v-301ff5b5] {
		justify-content: flex-start;
}
&[data-align="center"][data-v-301ff5b5] {
		justify-content: center;
}
&[data-align="right"][data-v-301ff5b5] {
		justify-content: flex-end;
}
div.pattern[data-v-301ff5b5] {
		background: var(--pattern);
}
iframe[data-v-301ff5b5] {
		width: 100%;
		height: 100%;
		display: block;
		border: 0;
}
}
@media (min-width: 640px) {
div.video[data-v-301ff5b5] {
		display: flex;
}
.xsmall[data-v-301ff5b5] { width: 100%;max-width: 25%;}
.small[data-v-301ff5b5] { width: 100%;max-width: 33%;}
.medium[data-v-301ff5b5] { width: 100%;max-width: 50%;}
.large[data-v-301ff5b5] { width: 100%;max-width: 75%;}
.fullscreen[data-v-301ff5b5] { width: 100%;max-width: 100%;}
}

@media (min-width: 640px) {
[data-kirbyblock="multicolumn"] .pwColumns {
		display: grid;
		grid-template-columns: repeat(6, 1fr); /* 6er Grid */
&.dist-1-5 {
> :first-child { grid-column: span 1;
}
> :last-child  { grid-column: span 5;
}
}
&.dist-2-4 {
> :first-child { grid-column: span 2;
}
> :last-child  { grid-column: span 4;
}
}
&.dist-3-3 {
> :first-child { grid-column: span 3;
}
> :last-child  { grid-column: span 3;
}
}
&.dist-4-2 {
> :first-child { grid-column: span 4;
}
> :last-child  { grid-column: span 2;
}
}
&.dist-5-1 {
> :first-child { grid-column: span 5;
}
> :last-child  { grid-column: span 1;
}
}
.pwColumn {
			width: 100%;
&.left {
				border-right: 1px dashed color-mix(in srgb, var(--pw-color-text) 40%, transparent);
				padding-right: 1.5rem;
}
&.right {
				padding-left: 1.5rem;
}
}
}
}
[data-kirbyblock="multicolumn"] .pwColumns {
.pwColumn[data-horizontal="left"] {
		justify-self: start;
}
.pwColumn[data-horizontal="center"] {
		justify-self: center;
}
.pwColumn[data-horizontal="right"] {
		justify-self: end;
}
.pwColumn[data-vertical="top"] {
		align-self: start;
}
.pwColumn[data-vertical="middle"] {
		align-self: center;
}
.pwColumn[data-vertical="bottom"] {
		align-self: end;
}
}
.k-block {
&.k-block-type-multicolumntext,
	&.k-block-type-multicolumnquote,
	&.k-block-type-multicolumnmedia {
		padding: 10px;
}
}
.ishidden {
	opacity:.25;
}
